In [ ]:
print("LetsUpgrade - Day 6 Assignment of python ");

LetsUpgrade - Day 6 Assignment of python

## ***Question 1 :-***

In [ ]:
# For this challenge, create a bank account class that has two attributes
# *OwnerName
# *Balance
# And two methods
# *deposits
# *withdraw
# As an added requirement, withdrawalas may not exceed the available balance.

# Instantiate your class, make several deposits and withdrawalas, and test to make sure the account can't be overdrawn.

In [ ]:
class bank_account():
    def __init__(self, ownername, balance):
        self.ownername = ownername
        self.balance = balance

    def getDetails(self):
        print("OwnerName : ",self.ownername)
        print("Balance : ",self.balance)

    def deposits(self, money_paid):
        self.money_paid = pay(money_paid)
        print("Money Deposited : ",self.money_paid)
        print("Total Money in the Account is : ",self.balance + self.money_paid)
        self.balance = self.balance + self.money_paid

    def withdraw(self, money_withdraw):
        self.money_withdraw = draw(money_withdraw)
        if self.balance < money_withdraw:
          print("Money can not be Withdrawn as there is Insuficient Balance in the Account")
          print("Amount in your Account is : ", self.balance)
        else:
          print("Money Withdrawn : ",self.money_withdraw)
          print("Total Money in the Account is : ",self.balance - self.money_withdraw)
        self.balance = self.balance - self.money_withdraw

def pay(money_paid):
     return money_paid 

  
def draw(money_drawn):
       return money_drawn

In [ ]:
SBI = bank_account("Jolly", 500000)

In [ ]:
SBI.getDetails()

OwnerName :  Jolly
Balance :  500000

In [ ]:
SBI.deposits(2000)

Money Deposited :  2000
Total Money in the Account is :  502000

In [ ]:
SBI.withdraw(5000)

Money Withdrawn :  5000
Total Money in the Account is :  497000

In [ ]:
SBI.withdraw(10000)

Money Withdrawn :  10000
Total Money in the Account is :  487000

In [ ]:
SBI.deposits(20000)

Money Deposited :  20000
Total Money in the Account is :  507000

In [ ]:
SBI.withdraw(250000)

Money Withdrawn :  250000
Total Money in the Account is :  257000

In [ ]:
SBI.withdraw(300000)

Money can not be Withdrawn as there is Insuficient Balance in the Account
Amount in your Account is :  257000

## ***Question 2 :- ***

In [ ]:
# For this challange, create a cone class that has two attributes:
# *r=Radius
# *h=Height
# And two methods:
# volume=3.14(value of pie)*r2=(h/3)
# surface area:base:3.14(value of pie)*r2,side:3.14(value of pie)*r*(rootover(r2+h2))
# make only one class with functions, as in where required import math.

In [ ]:
class cone():
    def __init__(self, radius, height):
        self.radius = radius
        self.height = height

    def getDetails(self):
        print("Radius of a Cone is : ",self.radius)
        print("Height of a Cone is : ",self.height)

    def volume(self, r, h):
        self.vol = vol(r, h)
        print("Volume of a Cone is : ",self.vol)

    def surface_area(self, r, h):
        self.area = sur_area(r, h)
        print("Surface Area of a Cone is : ",self.area)
          
def vol(radius, height):
     v = 3.14*radius*radius*(height/3)
     return v

import math
def sur_area(radius, height):
     a = 3.14*radius*(radius + (math.sqrt(height*height + radius*radius)))
     return a

In [ ]:
ram = cone(5,2)

In [ ]:
ram.getDetails()

Radius of a Cone is :  5
Height of a Cone is :  2

In [ ]:
ram.volume(5, 2)

Volume of a Cone is :  52.33333333333333

In [ ]:
ram.surface_area(5, 2)

Surface Area of a Cone is :  163.04708747201173