In [ ]:
print("LetsUpgrade - Day 2 Assignment of python ");

LetsUpgrade - Day 2 Assignment of python

# ***LIST***

In [ ]:
# To Create a List
lst = ["Sema", "Angle", 75439, 74569.53, [7, 5, 9, 2]]

In [ ]:
# To Display List
lst

['Sema', 'Angle', 75439, 74569.53, [7, 5, 9, 2]]

In [ ]:
lst [0]

'Sema'

In [ ]:
# Append is used to add a subscript in a List a Last
lst.append("Komal")

In [ ]:
# Subscript is added in the List at Last
lst

['Sema', 'Angle', 75439, 74569.53, [7, 5, 9, 2], 'Komal']

In [ ]:
# Used to show the Subscript of the index
lst [4]

[7, 5, 9, 2]

In [ ]:
lst [4][2]

9

In [ ]:
# Pop is used to delete the Subscript from the List
lst.pop(4)

[7, 5, 9, 2]

In [ ]:
# List is displayed  
lst

['Sema', 'Angle', 75439, 74569.53, 'Komal']

In [ ]:
# reverse is used to reverse the List
lst.reverse()

In [ ]:
# reversed List is displayed
lst

['Komal', 74569.53, 75439, 'Angle', 'Sema']

In [ ]:
# count is used to count the number of time Subscript have same element
lst.count(75439)

1

In [ ]:
# Second List is created
lst2 = ["Riya", 345]

In [ ]:
# extend is use to modify the original list
lst2.extend(lst)

In [ ]:
# due to extend function lst Subscript are added to lst2 Subscripts
lst2

['Riya', 345, 'Komal', 74569.53, 75439, 'Angle', 'Sema']


# ***DICTIONARY***
---

In [ ]:
# dit is used to create a dictionary
dit = {"Name":"Happy Singh", "Age":"22", "Mobile No.":7291054963, "Email ID":"singhishappy@.com"}

In [ ]:
# dit is created
dit

{'Age': '22',
 'Email ID': 'singhishappy@.com',
 'Mobile No.': 7291054963,
 'Name': 'Happy Singh'}

In [ ]:
# setdefault add new subscript in dit
dit.setdefault("Course","B.Tech")

'B.Tech'

In [ ]:
# dit is displayed
dit

{'Age': '22',
 'Course': 'B.Tech',
 'Email ID': 'singhishappy@.com',
 'Mobile No.': 7291054963,
 'Name': 'Happy Singh'}

In [ ]:
# get will help to show the Name
dit.get("Name")

'Happy Singh'

In [ ]:
# dit2 is created and copy function will copy dit in dit2
dit2=dit.copy()

In [ ]:
# dit2 is displayed
dit2

{'Age': '22',
 'Course': 'B.Tech',
 'Email ID': 'singhishappy@.com',
 'Mobile No.': 7291054963,
 'Name': 'Happy Singh'}

In [ ]:
# clear function will make dit2 empty
dit2.clear()

In [ ]:
# dit2 is empty
dit2

{}

In [ ]:
# fromkeys() is used to specify keys and its value
x=('maths','english','hindi','computer')
y=('100')
dit.fromkeys(x,y)

{'computer': '100', 'english': '100', 'hindi': '100', 'maths': '100'}

## ***SETS***

In [ ]:
# Two Sets are created st and st1
st = {"SAM", "c+=", 10, 10, 20, 10, 50, 30, 50, 70}
st1 = {"REHA", "C+", 10, 15, 20, 10, 50, 25, 40, 70}

In [ ]:
# st set is displyed
st

{10, 20, 30, 50, 70, 'SAM', 'c+='}

In [ ]:
# st1 set is displyed
st1

{10, 15, 20, 25, 40, 50, 70, 'C+', 'REHA'}

In [ ]:
# difference is used to find all the difference of st1 from st
st1.difference(st)

{15, 25, 40, 'C+', 'REHA'}

In [ ]:
# issuperset is used to see that is st1 is the super set of st
st.issuperset(st1)

False

In [ ]:
# issubset is used to see that is st1 is the sub set of st1(itself)
st1.issubset(st1)

True

In [ ]:
# intersection is used to see that is st1 is the intersection of st
st1.intersection(st)

{10, 20, 50, 70}

In [ ]:
# isdisjoint is used to see that is st1 is the isdisjoint of st
st1.isdisjoint(st)

False

## ***TUPLE***

In [ ]:
# tup is used to creat Tpule
tup = ["Raja", "Ram", "Mohan", "Roy"]

In [ ]:
# Tuple is created
tup

['Raja', 'Ram', 'Mohan', 'Roy']

In [ ]:
# index of roy is shown
tup.index("Roy")

3

In [ ]:
# new subscript Raja is added in the Tuple
tup.insert(4,'Raja')

In [ ]:
# updated tuple is displayed
tup

['Raja', 'Ram', 'Mohan', 'Roy', 'Raja']

In [ ]:
# count is used to count how many time raja is there in the Tuple
tup.count("Raja")

2

In [ ]:
# Tuple is sorted in alphabetical order
tup.sort()

In [ ]:
# sorted Tuple is displayed
tup

['Mohan', 'Raja', 'Raja', 'Ram', 'Roy']

In [ ]:
# remove is used to remove Raja from Tuple
tup.remove("Raja")

In [ ]:
# updated Tuple is displayed
tup

['Mohan', 'Raja', 'Ram', 'Roy']

## ***STRING***

In [ ]:
# two string is created name and name1
name = "Veena Rai"
name1 = "Arjun Roy"

In [ ]:
# name string is displayed
name

'Veena Rai'

In [ ]:
# new string is created with the name newname which is the addition of name and name1
newname = name + ' '  + name1

In [ ]:
# newname string is displayed
newname

'Veena Rai Arjun Roy'

In [ ]:
# type() is used for knowing the data type
type(newname)

str

In [ ]:
# endswith() is used for knowing that from what string is ending with 
newname.endswith(".")

False

In [ ]:
# expandtabs() is used to specified number of whitespaces.
newname.expandtabs(2)

'Veena Rai Arjun Roy'

In [ ]:
# isspace() is used for string handling
newname.isspace()

False

In [ ]:
# formate() is used for formatted string
newname.format()

'Veena Rai Arjun Roy'