In [1]:
print("LetsUpgrade - Day 3 Assignment of python ");

LetsUpgrade - Day 3 Assignment of python

## ***Assignment 1 :-***

In [2]:
# Question: You all are pilots, you have to land a plane, the altitude required for landing a plane is 1000ft, 
# if it is less than that tell pilot to land the plane, or it is more than that but less than 5000ft ask the pilot to come down to 1000ft, 
# else if it is more than 5000ft ask the pilot to go ground and try later.

In [51]:
alt = int(input("Enter the Altitude : "))
if alt <= 1000:
    print("Land the Plane")
elif 1000<alt<5000:
    print("Come Down to 1000ft")
else :
    print("Go to Ground And Try Later")

Enter the Altitude : 3500
Come Down to 1000ft

## ***Assignment 2 :-***

In [44]:
# Question: Using for loop please print all the prime numbers between 1-200 using FOR LOOP AND RANGE function.

In [112]:
for num in range(1,200 + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199