In [ ]:
print("LetsUpgrade - Day 4 Assignment of python ");

LetsUpgrade - Day 4 Assignment of python

In [ ]:
# Question 1: Print the First ArmStrong Number in the Range of 1042000 to 702648265 and exit the loop as soon as you encounter the First ArmStrong Number. Use While Loop.

In [11]:
for num in range(1042000, 702648265):  
    order = len(str(num))
    sum = 0
    temp = num  
    while temp != 0:
        dig = temp % 10
        sum += dig ** order
        temp //= 10
    if num == sum:
        print("The First Armstrong Number is ::", num)
        break

The First Armstrong Number is :: 1741725